framework: auto-detect
lowest_matching: true
version: 5.198.0

source https://api.nuget.org/v3/index.json

// Testing
nuget Microsoft.NET.Test.Sdk >= 15.5.0
nuget NUnit >= 3.9.0
nuget NUnit3TestAdapter >= 3.9.0
nuget NunitXml.TestLogger 3.0.91
nuget FluentAssertions.OneOf >= 0.0.5
nuget FluentAssertions >= 5.10.3

// Deps
nuget OneOf >= 3.0.178
nuget System.ValueTuple >= 4.5
nuget NETStandard.Library >= 1.6.1

//Examples
group example-deps
    framework: net5.0
    source https://api.nuget.org/v3/index.json

