framework: auto-detect
lowest_matching: true

source https://api.nuget.org/v3/index.json
source https://www.nuget.org/api/v2

//Main
//Maybe contribute a change which doesn't include deps Plus a .paket why lookup
//github fsprojects/FSharp.TypeProviders.SDK netfx.props

// Testing
nuget Microsoft.NET.Test.Sdk >= 15.5.0
nuget NUnit >= 3.9.0
nuget NUnit3TestAdapter >= 3.9.0
nuget FluentAssertions.OneOf >= 0.0.5
nuget OneOf >= 2.1.127
nuget System.ValueTuple >= 4.5
nuget NETStandard.Library >= 1.6.1

//Examples
group example-deps
    framework: netcoreapp2.1
    source https://api.nuget.org/v3/index.json

    nuget Microsoft.AspNetCore.App ~> 2.1.6

// [ Fake Group ]
group build-deps
    source https://api.nuget.org/v3/index.json
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.Tools.Git
